@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.btn {
    padding: 0px;
    width: 100px;
    display: block;
    font-weight: 700;
    border: 0;
    color: #fff;
    outline: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 5%;
}

/*Styling Nav Bar */
.nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}

.nav-bar ul li::after {
    position: relative;
    content: ' ';
    height: 2px;
    width: 0;
    bottom: 0;
    top: 10px;
    background-color: rgb(150, 29, 8);
    left: 0;
    margin: auto;
    display: block;
}

.nav-bar ul li:hover::after {
    width: 100%;
    transition: 0.3s;
}

.nav-bar ul li a {
    color: black;
    padding: 10px ;
    font-weight: bold;
}

/* Styling My Logo */
.col1 {
   position: relative;
}

.col1 .logo {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 35%;
}

.col1 .rotate_logo {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 4px solid rgb(0, 0, 0);
    bottom: 0;
    display: block;
    transition: 0.3s ease-in;
}

.col1 .rotate_logo:hover {
    cursor: pointer;
    transform: rotate(-89deg);
    transition: 0.3s ease-in;
}

.col1 .logo h4 {
    font-weight: 700;
    font-size: 13px;
}


.main_side {
    margin-bottom: 5%;
}

.main_side .small-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.main_side .small-container h1 {
    margin: 5% 0;
    text-align: left;
}


/*Styling My Main_Side*/

.main_side .banner {
    width: 100%;
    height: 350px;
    background-image: url(coding-life.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.main_side .banner h1, 
.main_side button {
    position: absolute;
    bottom: 0;
    left: 50px;
    text-align: center;
    opacity: 0;
}



.main_side .banner h1 {
    font-size: 35px;
    font-weight: bold;
    color: rgb(102, 20, 6);
    z-index: 1000;
    opacity: 0;
    transition: 0.8s ease-out;
    color: #fff;
    
}


.main_side .layer {
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    opacity: 0;
    z-index: 1000;
}

.main_side .banner .layer:hover {
    cursor: default;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(128, 147, 226, 0.7));
    opacity: 1;
    transition: 1s;
}

.main_side .layer:hover h1
 {
    bottom: 200px;
    transition: 0.8s ease-out;
    opacity: 1;
    z-index: 1000;
}

.main_side .layer:hover button {
    bottom: 140px;
    opacity: 1;
    transition: 0.8s 0.3s;
    cursor: pointer;
    color: #ffff;
    border-radius: 3px;
}

.main_side button a {
    color: #fff;
    font-weight: 700;
    width: 100px;
    padding: 10px 28px;
    border: 0;
    border-radius: 3px;
    background-color: rgb(179, 41, 16);
}


.main_side button:hover a{
    background-color: rgb(196, 49, 23);
    transition: 0.3s;
}

/*Styling All About myself*/

.my-self.small-container {
    line-height: 35px;
    margin-top: 40px;
}

.my-self h3 {
    margin-top: 20px;
}

.my-self h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(179, 41, 16);
}

.my-self span a {
    color: rgb(179, 41, 16);
    text-decoration: underline;
}

/*Styling My Footer*/
footer {
    text-align: center;
    margin-bottom: 20px;
}

footer .interested {
    border: 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    text-align: center;
}

footer button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    color: white;
}

footer button a {
    color: #fff;
    font-weight: 700;
    width: 100px;
    padding: 10px 23px;
    background-color: rgb(179, 41, 16);
    border-radius: 3px;
}

footer button:hover a{
    background-color: rgb(196, 49, 23);
    transition: 0.3s;
}


footer .my-form {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid brown;

}


footer .my-form i {
    width: 15%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 7px;
    background-color: rgb(196, 49, 23);
    color: #fff;
    cursor: pointer;
}

footer input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 0;
}


footer .flex {
    justify-content: space-around;
}

footer .col {
    width: 40%;
}

footer .social-link {
    padding: 20px;
    text-align: left;
}

footer .social-link a {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    text-align: left;
    cursor: pointer;
    color: rgb(179, 41, 16);
}

footer .social-link a:hover  {
    color: rgb(105, 20, 5);
    transition: 0.3s;
}

footer .social-link h5 {
    text-align: left;
    margin-bottom: 5px;
}

::placeholder {
    font-weight: 700;
    text-transform: capitalize;
}

@media(max-width: 770px) {
    footer .my-form i {
        width: 25%;
    }  
}
@media(max-width: 450px) {
    .container {
        width: 90%;
        padding: 0;
        transition: 1.5s;
    }

    .col1 .logo {
        width: 50px;
        height: 50px;
    }
    
    .col1 .rotate_logo {
        width: 50px;
        height: 50px;
    }

    .flex {
        padding: 40px 0;
    }

    .nav-bar ul li {
        padding: 5px 5px;
    }

    .main_side .small-container {
        width: 100%;
        padding: 0px;
    }

    .main_side .banner {
        width: 100%;
        height: 200px;
    }

    .main_side .layer {
        width: 100%;
        height: 200px;
    }
    
    .main_side .banner h1,
    footer h1 {
        font-size: 25px;
    }

    .main_side .layer:hover h1 {
    bottom: 100px;
    }

    .main_side .layer:hover button {
        bottom: 50px;
    }

    .main_side .banner h1, 
    .main_side button {
        left: 7px;
    }

    .main_side .small-container h1 {
        margin-bottom: 40px;
        font-size: 25px;
    }
    .my-self h3,
    .my-self h4 {
        font-size: 18px;
    }

    footer {
        margin-top: 60px;
    }

    footer .my-form {
        width: 80%;
    }
    footer .flex {
        flex-wrap: wrap-reverse;
    }
    footer .col {
        width: 100%;
    }
    footer .my-form {
        margin: 0;
    }
    footer .social-link {
        padding: 0;
        padding-top: 20px;
        
    }
}